* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #111; */
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 40px;
  z-index: 1000;
  transition: background-color 0.4s ease;
  background-color: transparent;
}

.navbar--black {
  background-color: #111;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 100px;
  object-fit: contain;
  margin-right: 25px;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.navbar__links li {
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar__links li:hover {
  color: #b3b3b3;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar__icon {
  color: white;
  cursor: pointer;
  font-size: 28px;
  transition: color 0.2s ease;
}

.navbar__icon:hover {
  color: #b3b3b3;
}
